@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.wolverine-box {
    display: none;

    width: 100%;
    height: 100%;
    text-align: center;

    .wolverine-img {
        display: none;
        background: url(../img/wolverine-background.png) no-repeat center center;
        background-size: cover;
        height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

   .wolverine-imagem > img {
        width: 220px;
        height: 400px;
    }

    .wolverine-name > p {
        margin-top: -150px;
        text-transform: uppercase;
        font-family: "Bangers", serif;
        font-size: 4.5em;
        color: #FFC400;
        text-shadow: 0 0 5px #000;
        font-weight: bold;

    }

    .wolverine-icon {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff5c;
        margin-top: 59px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0 20px;
        height: 50px;
    }

    .img-1{
        width: 30px;
        cursor: pointer;
    }

    .img-2 {
        width: 40px;
        cursor: pointer;      
    }

    .wolverine-video {
        display: none;
        background: url(../img/wolverine-background-video.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        border-radius: 5px;
        outline: 1px solid #fff;
        
    }

    .wolverine-video > iframe {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }


    .wolverine-icon2 {
        display: flex;
        justify-content: center;
        background-color: #ffffff5c;
        height: 50px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0 20px;
        margin-top: 15px;
    }

    .img-4{
        width: 30px;
        cursor: pointer;
    }

}

@media screen and (max-width: 768px) and (orientation: landscape)  {
    .wolverine-box {
        height: 320px;
        width: 99vw;
    }

    .wolverine-box > div.wolverine-img {
        display: none;
        background: url(../img/wolverine-background.png) no-repeat center;
        background-size: cover;
        height: 100%;
    }

    .wolverine-box .wolverine-imagem > img {
        width: 130px;
        height: 50%;
    }

    .wolverine-box div.wolverine-name > p {
        margin-top: -180px;
    }

    .wolverine-box div.wolverine-icon {
        margin-top: 57px;
        height: 50px;
    }

    .wolverine-box .wolverine-video {
        width: 99vw;
        
        height: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tablets */

    .wolverine-box {
        width: 500px;
    }

    .wolverine-box > div.wolverine-img {
        display: none;
        background: url(../img/wolverine-background.png) no-repeat top bottom;
        background-size: cover;
        height: 100%;
    }

    .wolverine-box .wolverine-imagem > img {
        width: 35%;
        height: 50%;
    }

    .wolverine-box div.wolverine-name > p {
        margin-top: -180px;
    }

    .wolverine-box div.wolverine-icon {
        margin-top: 69px;
        height: 50px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Estilos para laptops */
    .wolverine-box {
        width: 700px; 
    }

    .wolverine-box > div.wolverine-img {
        display: none;
        background: url(../img/wolverine-background.png) no-repeat center;
        background-size: cover;
        height: 100%
    }

    .wolverine-box .wolverine-imagem > img {
        width: 25%;
        height: 50%;
    }

    .wolverine-box div.wolverine-name > p {
        margin-top: -180px;
    }

    .wolverine-box div.wolverine-icon {
        margin-top: 69px;
        height: 50px;
    }
    
}


@media screen and (min-width: 1441px) {
    /* Estilos para monitores grandes */
    .wolverine-box {
        width: 700px; 
    }

    .wolverine-box > div.wolverine-img {
        display: none;
        background: url(../img/wolverine-background.png) no-repeat center;
        background-size: cover;
        height: 100%
    }

    .wolverine-box .wolverine-imagem > img {
        width: 25%;
        height: 50%;
    }

    .wolverine-box div.wolverine-name > p {
        margin-top: -180px;
    }

    .wolverine-box div.wolverine-icon {
        margin-top: 69px;
        height: 50px;
    }

}
